body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding-top: 50px;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.box {
  height: 100px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  user-select: none;
}

.d-none {
  display: none;
}
footer {
  font-weight: bold;
  color: #555;
}
